<section class="hero">
  <div class="container hero-grid">

    <div class="hero-content">

      <span class="badge">I develop digital products ready to use and sell </span>
      <span class="badge">Available for remote work</span>

      <h1>
        Web Developer <br>
        building modern interfaces
      </h1>

      <p>
        I build fast, scalable and user-centered web experiences,
        designed for real-world environments and remote teams.
      </p>

      <div class="buttons">
        <a href="#projects" class="btn-primary">View projects</a>

        <!--
        <button class="button button-outline js-cv-trigger">
          Download CV
        </button>
      -->
        <button class="button button-outline"><a href="https://jairo51067.github.io/jairo-cardenas-digital-card/#contact" class="cv-btn">Contact Me</a>
          
        </button>

      </div>

    </div>

    <div class="hero-visual">
      <div class="hero-card">
        <h3>Jairo Cárdenas</h3>
        <p>Web Developer</p>
        <span>Specialized in modern UI</span>
      </div>
    </div>

  </div>
</section>

<!-- ✅ MODAL COMPLETO -->
<div class="cv-modal" id="cvModal">
  <div class="cv-modal-content">

    <div class="cv-modal-header">
      <h3>Seleccionar idioma</h3>
      <button id="closeModal" class="cv-modal-close">&times;</button>
    </div>

    <div class="cv-modal-body">
      <p>Elige la versión que prefieras:</p>

      <div class="cv-buttons">
        <a href="assets/doc/Jairo_Cardenas_CV__es426.pdf" class="cv-btn" download>
          🇪🇸 Español
        </a>

        <a href="assets/doc/Jairo_Cardenas_CV_en426.pdf" class="cv-btn" download>
          🇺🇸 English
        </a>
      </div>
      <small>Versión simplificada para protección de datos. Para detalles sensibles, favor contactar
        directamente.</small>
    </div>

  </div>
</div>

<div class="modal-overlay" id="modalOverlay"></div>